a {
    text-transform: none;
}

p {
    margin:0;
}

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: grey;
  }

  .fixed {
      position: fixed;
      width: 100%;
  }

  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
}

.top {
    width: 50%;
    height: 32px;
    background:whitesmoke;
    border: 1px solid whitesmoke;
}

input {
    width: 95%;
    border: none;
    height: 30px;
}



aside {
    float: left;  
    width:10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    color: grey;
    margin: 30px 10px
  }

  .aside-menu {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
  }

.section-one {
    height:110px ;
    border-bottom: 1px solid whitesmoke;
}

.secton-two {
    height: 180px;
    margin-top: 10px;
    border-bottom: 1px solid whitesmoke;
}

.ifame-main {
    width: 88%;
    height: 85vh;
    background:whitesmoke ;
}



/* -----------vedeo--------------- */
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.item-video {
width: 395px;
height: 215px;
}

.item-logo {
    width: 68px; 
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.item-titlt {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 12px;
    width:300px;
}

